<div id="mw-page-base" class="noprint"></div>
<div id="mw-head-base" class="noprint"></div>

<div id="content" class="mw-body" role="main"><%= @content %></div>
<div id='mw-data-after-content'><%= @mw_data_after_content %></div>
<div id="mw-navigation"><%= @mw_navigation %></div>
<div id="footer" role="contentinfo"><%= @footer %></div>

