<h4> Ok ma biche on va créer une nouvelle recette </h4>

<form action="/recipes" method="post">
  Recipe name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Preparation Time:<br>
  <input type="text" name="prep_time"><br>
  Difficulty:<br>
  <input type="text" name="difficulty"><br><br>
  <input type="submit" value="Submit">
</form>

<%=params[test: "tamere"] %>
